<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 bg-dark text-white min-vh-100 p-3">
      <%- include('../includes/sidebar', { user: user }) %>
    </div>
    <div class="col-md-3 col-lg-10 p-4">
        <h2>Settings</h2>
        <p>This is the settings page. You can add your settings here.</p>
    </div>
  </div>
</div>
